<div class="content">
  <div class="titleText">
      Feel Free to Reach Out!
  </div>
  <div class="infoSection">
      <div class="mapSection">
          <a href="https://goo.gl/maps/YYfR8mk82E93QJpCA" target="_blank">
              <div class="mapDisplay">
                  <div>
                      Care for a map?
                  </div>
              </div>
          </a>
      </div>
      <div class="infoDetails">
          <div class="socialMedia">
            <a href="https://www.facebook.com/MilesAheadMusicUtah/" target="_blank">
                <div class="fb">

                </div>
            </a>
            <a href="https://www.instagram.com/milesaheadmusicutah/" target="_blank">
                <div class="insta">
                    
                </div>
            </a>
          </div>
          <div class="address">
              <div class="addressIcon"></div>
              <div class="streetAddress">
                  343 E Main Street<br>American Fork, UT 84003
              </div>
          </div>
          <div class="email">
              <div class="emailIcon"></div>
              <div class="emailAddress">
                  milesaheadmusicutah@gmail.com
              </div>
          </div>
          <div class="phone">
              <div class="phoneIcon"></div>
              <div class="phoneNumber">
                  801-753-8056
              </div>
          </div>
      </div>
      <div class="formBtnSec">
          <div class="formBtn" (click)="displayForm()">
              Contact Form
          </div>
      </div>
      <div class="dropInTitle">
          You can stop by during our operating hours:
      </div>
      <div class="hoursSec">
          <div class="studioPic"></div>
          <div class="hoursInfo">
              Monday - Friday<br>
              2:30pm - 8:30pm
          </div>
      </div>
  </div>
  <app-footer-bar></app-footer-bar>
</div>
<app-contact-form></app-contact-form>
