.content {
    width: 100%;
    position: absolute;

    .titleText {
        height: 100px;
        width: ~"calc(100% - 40px)";
        padding: 20px;
        margin-top: 150px;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 40px;
        @media screen and (min-width: 500px){
            margin-bottom: 0;
        }
    }
    .infoSection {
        width: 100%;
        font-family: 'Quicksand', sans-serif;

        .mapSection {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .mapDisplay {
                height: 200px;
                width: 300px;
                box-shadow: 0 0 10px black;
                border-radius: 5px;
                background-image: url("../../assets/site-media/milesAheadMap.png");
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: .2s;
                @media screen and (min-width: 500px){
                    height: 250px;
                    width: 400px;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: .2s;
                }

                div {
                    color: white;
                    font-size: 20px;
                    text-decoration: none;
                    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 10px black;
                    
                }
            }
            a {
                text-decoration: none;
            }
        }
        .infoDetails {
            width: 100%;
            font-size: 16px;
            margin-top: 20px;
            @media screen and (min-width: 500px){
                margin-top: 50px;
            }

            div {
                margin: 10px;
                display: flex;
                justify-content: left;
                align-items: center;
                margin-left: 20px;
                @media screen and (min-width: 500px){
                    justify-content: center;
                }
            }
            .socialMedia {
                margin-bottom: 20px;

                div {
                    height: 50px;
                    width: 50px;
                    background-size: cover;
                    cursor: pointer;
                }
                .fb {
                    background-image: url(../../assets/site-media/fbLogo.png);
                }
                .insta {
                    background-image: url(../../assets/site-media/instaLogo.png);
                }
            }
            .address {
                .addressIcon {
                    height: 50px;
                    width: 50px;
                    background-image: url(../../assets/site-media/addressIcon.png);
                    background-size: cover;
                }
                .streetAddress {
                    display: block;
                    width: 200px;
                }
            }
            .email {
                .emailIcon {
                    height: 50px;
                    width: 50px;
                    background-image: url(../../assets/site-media/emailIcon.png);
                    background-size: cover;
                }
                .emailAddress {
                    display: block;
                    width: 200px;
                    font-size: 12px;
                }
            }
            .phone {
                .phoneIcon {
                    height: 50px;
                    width: 50px;
                    background-image: url(../../assets/site-media/phoneIcon.png);
                    background-size: cover;
                }
                .phoneNumber {
                    width: 200px;
                    display: block;
                }
            }
        }
        .formBtnSec {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Julius Sans One', sans-serif;
            font-size: 30px;

            .formBtn {
                height: 90px;
                width: 250px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 45px;
                color: white;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(31, 29, 29);
                box-shadow: 0 0 5px black, 0 0 10px black;
                transition: .2s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                    transition: .2s;
                }
            }
        }
        .dropInTitle {
            height: 50px;
            width: 90%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 20px;
            text-align: center;
        }
        .hoursSec {
            height: 300px;
            width: 100%;
            margin-bottom: 50px;

            .studioPic {
                height: 150px;
                width: 150px;
                margin: 0 auto;
                border-radius: 5px;
                background-image: url('../../assets/site-media/studioPic2.jpg');
                background-size: cover;
            }
            .hoursInfo {
                width: 100%;
                text-align: center;
                margin-top: 20px;
                font-size: 25px;
            }
        }
    }

}