

<div class="content">
  <div class="sellPoint">
      <div>
          Lessons on Any Instrument
      </div>
  </div>
  <div class="quote">
      <div class="quoteBtn" (click)="displayForm()">
          Get A Quote
      </div>
  </div>
  <div class="examples">
      <div class="exampleHead">
          <div>
              Here are a few we regularly teach:
          </div>
      </div>
      <div class="instList">
          <div>
              Voice | Piano | Drums | Music Production | 
              Song Writing | Violin | Viola | Cello | Bass | 
              Ukulele | Guitar | Banjo | Mandolin | Saxophone | 
              Clarinet | Flute | Oboe | Bassoon | 
              English Horn | Trumpet | Trombone | French Horn | 
              Euphonium | Baritone | Tuba
          </div>
      </div>
  </div>

  <div class="photoDisplay">
      <div class="photo">
          
      </div>
  </div>

  <div class="teachers">
      <div class="pro">
          <div class="title">
              Pro Teachers
          </div>
          <div class="text">
              Our pro teachers have or are about 
              to receive degrees on the instrument they teach and 
              perform locally and globally as professional 
              musicians! Our pro teachers have played in Dubai, 
              the Philippines, China, Australia, Thailand, and all 
              over Europe, North and South America! They have shared 
              stages with KELLY CLARKSON, JOURNEY, LEANN RIMES, NEON 
              TREES and countless jazz and classical legends.
          </div>
      </div>
      <div class="apprentice">
          <div class="title">
              Apprentice Teachers
          </div>
          <div class="text">
              Our apprentice teachers are 
              non-music major teachers that have shown exceptional 
              ability on their instrument. To learn with an apprentice 
              teacher the student must have under 1 year of experience. 
              Learning with an apprentice teacher is a great way to get 
              started on lessons at a more affordable price!
          </div>
      </div>
      <div class="teachersFair">
          Doing It Right:
          We pay our teachers fair wages while maintaining fair
          tuition.
      </div>
  </div>
  
  <div class="lessons">
      <div class="lessonsHead">
          Private Lesson Details
      </div>
      <div class="lessonsText">
          Lessons are taken either by term (Fall, Winter, Spring 
          and Summer), or on a weekly basis!
          <br><br>
          We stand out from other arts programs by offering the 
          best pricing as well as 10% OFF for multi-student families!
          <br><br>
      </div>

      <div class="lessonsType">
          <div class="length30">
              <div class="title">
                  30-Minute Lessons
              </div>
              <div class="text">
                  30-minute one-on-one lessons with an extraordinary teacher!
              </div> 
          </div>
          <div class="length60">
              <div class="title">
                  60-Minute Lessons
              </div>
              <div class="text">
                  Hour-long one-on-one lessons with an extraordinary teacher! 
                  These lessons are great for students that are seriously 
                  pursuing music, or feel that they need some extra time with 
                  the teacher. Our teachers love hour long lessons, since they feel 
                  they can help the most in this setting!
              </div>
          </div>
          <div class="semiPrivate">
              <div class="title">
                  Semi-Private Lessons
              </div>
              <div class="text">
                  Group lessons where students can learn together on the same 
                  instrument. Several options exist within this category, from 
                  two students to five students learning at once.
              </div>
          </div>
          <div class="musicAppreciate">
              <div class="title">
                  Music Appreciation Class
              </div>
              <div class="text">
                  Bring your children (ages 1-3) or (ages 4-6) in to learn 
                  music fundamentals in a group setting! Children create 
                  music using Boomwhackers, bells, auxiliary percussion 
                  instruments and their own voices. We encourage the kids 
                  to learn rhythms and music through dance and actual 
                  instrumental experience. More advanced classes can learn 
                  on recorder, piano or ukulele!
              </div>
          </div>
      </div>

  </div>

  <app-footer-bar></app-footer-bar>

</div>
<app-contact-form></app-contact-form>
