<div class="content">
  <div class="introduction">
      <div class="schoolName">
          Miles Ahead Music
      </div>
      <div class="introText">
          Our experienced staff members teach private music lessons and provide many performance 
          opportunities through jazz combos, vocal quartets and chamber groups. Our teachers are 
          all extremely qualified, having received or are about to receive degrees in music. Some 
          have masters degrees in music as well. We offer high quality lessons for an affordable 
          price so that students can grow miles ahead from the get go.
      </div>
  </div>
  <div class="topic" id="whatWeTeach">
      <div class="icon">
          
      </div>
      <div class="info">
          <div class="head">
              What We Teach
          </div>
          <div class="text">
              Whether you want to learn works by Beethoven or the Beatles, church hymns or AC/DC hits 
              you’ve come to the right place! Our teachers are all versatile, mastering genres such as: 
              classical, pop, jazz, rock, indie and more. We realize that every student is different 
              and want to help you become what YOU want to become!
          </div>
      </div>
  </div>
  <div class="topic" id="easyForParents">
      <div class="icon">
  
      </div>
      <div class="info">
          <div class="head">
              We Make it Easy For Parents
          </div>
          <div class="text">
              We strive to help busy parents have an easy way to get their kids involved in music by 
              choosing great teachers and making scheduling easy. We know how hard it is to find the best 
              teacher at a reasonable price, so we hand picked the best around just for you!
          </div>
      </div>
  </div>
  <div class="topic" id="teachers">
      <div class="icon">
  
      </div>
      <div class="info">
          <div class="head">
              Truly Qualified Teachers
          </div>
          <div class="text">
              All of our teachers are currently pursuing degrees in music or have already received degrees 
              in music. All of them are also active in professional music careers locally and globally. Our 
              teachers have played in Dubai, the Philippines, China, Australia, Thailand, and all over Europe, 
              North and South America! They have shared stages with Kelly Clarkson, Journey, Leann Rimes, 
              Neon Trees and countless jazz and classical legends. Many are in popular bands like the Strike 
              and Speirs. Many play regularly in classical,jazz, pop, or party groups for local events as well.
          </div>
      </div>
  </div>
  <div class="topic" id="community">
      <div class="icon">
      
      </div>
      <div class="info">
          <div class="head">
              We Support the Community
          </div>
          <div class="text">
              As musicians, we know how hard it is to be successful entrepreneurs and we want to help our 
              local community grow. In order to showcase our local talent we sell local art and promote 
              local businesses.
          </div>
      </div>
  </div>
  <app-footer-bar></app-footer-bar>
</div>