.formView {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, .85);
    z-index: 50;
    

    .form {
        color: white;
        font-family: "Quicksand", sans-serif;
        padding: 20px;
        font-size: 20px;

        input {
            font-size: 20px;
        }

        .formHeader {
            width: 100%;
            font-size: 60px;
            font-family: "Sacramento", cursive;
            text-align: center;
        }
        .formExplain {
            margin-bottom: 20px;
            font-size: 16px;
        }
        .parentName {
            
        }
    }
}