<div class="formView hidden" id="contactForm">
  <div class="form">
    <div class="formHeader">
      Contact Form
    </div>
    <div class="formExplain">
      Please fill out the form below, and a member of our staff will personally 
      reach out to you to answer any questions, get you a quote, or to help you 
      get enrolled!
    </div>
    <div class="parentName">
      <div>
        First Name<br>
        <div class="first">
          <input type="text" [(ngModel)]="parentFirstName" height="40">
        </div>
        Last <br>
        <div class="last">
          <input type="text" [(ngModel)]="parentLastName">
        </div>
      </div>
    </div>
    <div class="phone">
      Phone Number
      <div class="phoneNumber">
        <input type="tel" [(ngModel)]="phoneNum">
      </div>
    </div>
    <div class="email">
      Email
      <div class="emailAddress">
        <input type="email" [(ngModel)]="emailAddress">
      </div>
    </div>
    <div class="studentName">
      Student Name (if different)
      <div>
        <div class="first">
          <input type="text" [(ngModel)]="studentFirstName">
        </div>
        <div class="last">
          <input type="text" [(ngModel)]="studentLastName">
        </div>
      </div>
    </div>
    <div class="instrument">
      Instrument
      <div class="instrumentEntry">
        <input type="text" [(ngModel)]="instrument">
      </div>
    </div>
    <div class="pleaseComplete hidden" id="pleaseComplete">
      The form is missing information or has errors
    </div>
    <div class="actions">
      <div class="submitBtn" (click)="submitForm()">
        SUBMIT
      </div>
      <div class="formStatus hidden" id="formStatus">
        Submission successful
      </div>
      <div class="exitBtn" (click)="hideForm()">
        X
      </div>
    </div>
  </div>
</div>
