.formView {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
  overflow: scroll;
  display: flex;
  justify-content: center;
}
.formView .form {
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  font-size: 20px;
}
@media screen and (min-width: 500px) {
  .formView .form {
    width: 350px;
    margin-top: 100px;
  }
}
.formView .form input {
  font-size: 20px;
  margin: 2px;
}
.formView .form .formHeader {
  width: 100%;
  font-size: 60px;
  font-family: "Sacramento", cursive;
  text-align: center;
}
.formView .form .formExplain {
  margin-bottom: 20px;
  font-size: 16px;
}
.formView .form .pleaseComplete {
  color: red;
  text-shadow: 0 0 5px black;
  margin-top: 10px;
}
.formView .form .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 75px;
}
.formView .form .actions .submitBtn {
  height: 50px;
  width: 100px;
  background-color: #1f1d1d;
  border-radius: 5px;
  box-shadow: 0 0 5px white, 0 0 5px green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formView .form .actions .formStatus {
  height: 50px;
  width: 150px;
  background-color: lightgreen;
  text-align: center;
  border-radius: 5px;
  text-shadow: 0 0 5px black;
}
.formView .form .actions .exitBtn {
  font-size: 30px;
  margin-top: 10px;
}
.hidden {
  display: none;
}
