<div class="container">
  <div class="content">
    <div class="pageHead">
      Covid-19 Can't Stop the Music!
    </div>
    <div class="pageText">
      We have made many changes in response to COVID-19. Our 
      first priority is the safety of our students and teachers. 
      Because of this, we've decided to discontinue lessons at our physical location 
      and offer online and in-home lessons. In the beginning this 
      seemed unfortunate, as the physical location of Miles 
      Ahead Music was a beautiful community setting to our 
      teaching team and awesome student families. We will continue 
      to offer a “virtual community” through our online portal. 
      We are working on virtual recitals and other fun virtual 
      events to maintain and improve our community! We are excited 
      to offer physical events in the future! 
      <br>
      <br>
      With our new lesson formats we continue to make safety our number one 
      concern. Here are some details about our online and in-home lessons:
    </div>
    <div class="lessonHead">
      Online Lessons
    </div>
    <div class="lessonText">
      We have come up with an amazing online experience for students and 
      teachers. With our Online Portal, made to accommodate virtual lessons, 
      enjoy access to:
      <ul>
        <li>Weekly one-on-one live WebEx lessons with an extraordinary teacher</li>
        <li>Interactive lessons schedule that can be integrated into your own calendar</li>
        <li>Library of helpful tips and video tutorials</li>
        <li>Payment information and history</li>
        <li>Internal messaging system</li>
        <li>Ability to upload virtual homework assignments (recordings of etudes, 
          scales, repertoire & more)</li>
      </ul>
    </div>
    <div class="enrollBtn" (click)="displayForm()">
      Get A Quote
    </div>
    <div class="lessonHead">
      In-Home Lessons*
    </div>
    <div class="lessonText">
      Ever wish there was such a thing as Uber for music lessons? We have 
      implemented the same technology to get our background checked teachers to 
      your home for music lessons! Enjoy our top-of-the-line teachers (really, our 
      teachers have studied Music Performance at universities including: Brigham 
      Young University, University of Utah, New York University, Utah State, Utah 
      Valley University and more)! You will have access to our online portal that 
      includes:
      <ul>
        <li>Interactive lessons schedule that can be integrated into your own calendar</li>
        <li>Library of helpful tips and video tutorials</li>
        <li>Payment information & history</li>
        <li>Internal messaging system</li>
        <li>Ability to upload virtual homework assignments (recordings of etudes, scales, 
          repertoire & more)</li>
      </ul>
    </div>
    <div class="enrollBtn" (click)="displayForm()">
      Get A Quote
    </div>
    <br>
    <div class="lessonText">
      *We mandate a 6 feet apart rule, usage of hand sanitizer as well as masks for lessons 
      that can easily take place while wearing a mask. Our teachers and students will be 
      required to take their temperatures before giving or receiving lessons.
    </div>
    <br>
    <br>
  </div>
</div>
