<div class="footer">
    <div class="socialMedia">
        <a href="https://www.facebook.com/MilesAheadMusicUtah/" target="_blank"> 
            <div class="facebook"></div>
        </a>
        <a href="https://www.instagram.com/milesaheadmusiclessons/" target="_blank">
            <div class="instagram"></div>
        </a>
    </div>
    <div>
        &copy; Miles Ahead Music - 2020<br>
        Developed and maintained by Raspberry Factory Web Development
    </div>
    <div class="siteUsage">
        By using our site you agree to our <div id="gAnalytics" (click)="displaySiteNotices()">privacy policy</div>.
    </div>
</div>