.footer {
    height: 60px;
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 29, 29);
    z-index: 2;
    position: absolute;
}