.footer {
  height: 70px;
  width: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1d1d;
  z-index: 2;
  position: absolute;
  top: calc(100% - 70px);
}
