.super {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 1;
}
@media screen and (min-width: 500px) {
  .super {
    height: 500px;
  }
}
@media scren and (min-width: 1200px) {
  .super {
    height: 600px;
  }
}
.super #studioVid {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  width: 100%;
  position: absolute;
  z-index: 2;
  font-family: 'Quicksand', sans-serif;
}
.content .vidOverlay {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .content .vidOverlay {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .content .vidOverlay {
    height: 500px;
  }
}
.content .vidOverlay .sellPoint {
  color: white;
  font-family: 'Sacramento', cursive;
  text-align: center;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 10px black, 0 0 10px black, 0 0 15px black;
  margin-bottom: 50px;
}
.content .vidOverlay .sellPoint .mainText {
  font-size: 40px;
  margin-top: 160px;
  margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
  .content .vidOverlay .sellPoint .mainText {
    font-size: 50px;
  }
}
.content .vidOverlay .sellPoint .subText {
  width: 200px;
  margin: 0 auto;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
}
@media screen and (min-width: 500px) {
  .content .vidOverlay .sellPoint .subText {
    font-size: 20px;
    width: 300px;
  }
}
.content .vidOverlay .enrollBtn {
  height: 100px;
  width: 90%;
  font-family: 'Sacramento', cursive;
  border-radius: 50px;
  background-color: #1f1d1d;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 15px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 350px;
  transition: .2s;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .content .vidOverlay .enrollBtn {
    width: 300px;
    top: 450px;
  }
}
.content .missionStatement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 180px;
}
@media screen and (min-width: 500px) {
  .content .missionStatement {
    margin-top: 200px;
  }
}
.content .missionStatement .text {
  width: 60%;
  font-size: 15px;
  color: #383636;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .content .missionStatement .text {
    font-size: 18px;
  }
}
.content .instructorsHeading {
  font-size: 40px;
  font-family: "Sacramento", cursive;
  text-align: center;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 500px) {
  .content .instructorsHeading {
    font-size: 50px;
  }
}
.content .reviews {
  width: 100%;
  margin-top: 50px;
}
.content .reviews .stars {
  height: 50px;
  width: 260px;
  margin: 0 auto;
  background-image: url("../../assets/site-media/fiveStars.png");
  background-size: cover;
}
.content .reviews .starsSubHead {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Sacramento', cursive;
}
.content .reviews .realReviews {
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .content .reviews .realReviews {
    display: flex;
    justify-content: center;
  }
}
.content .recommendSec {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3d3a3a;
  margin-bottom: 100px;
  margin-top: 50px;
}
.content .recommendSec .storeLogo {
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-image: url("../../assets/site-media/SummerhaysLogo.jpeg");
  background-size: cover;
  cursor: pointer;
  transition: .2s;
  margin: 0 auto;
}
.content .recommendSec .storeLogo:hover {
  transform: scale(1.05);
  transition: .2s;
}
.content .recommendSec .storeText {
  width: 90%;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 5%;
  margin-top: 20px;
}
.hidden {
  display: none;
}
