.super {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    // margin-top: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    @media screen and (min-width: 500px){
        height: 500px;
    }
    @media scren and (min-width: 1200px){
        height: 600px;
    }

    #studioVid {
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.content {
    width: 100%;
    position: absolute;
    z-index: 2;
    font-family: 'Quicksand', sans-serif;

    .vidOverlay {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 500px){
            height: 400px;
        }
        @media screen and (min-width: 1200px){
            height: 500px;
        }


        .sellPoint {
            color: white;
            font-family: 'Sacramento', cursive;
            text-align: center;
            text-shadow: 0 0 5px black, 0 0 5px black, 0 0 10px black, 0 0 10px black, 0 0 15px black;
            margin-bottom: 50px;

            .mainText {
                font-size: 40px;
                margin-top: 160px;
                margin-bottom: 10px;
                @media screen and (min-width: 500px){
                    font-size: 50px;
                }
            }
            .subText {
                width: 200px;
                margin: 0 auto;
                font-size: 15px;
                font-family: 'Julius Sans One', sans-serif;
                @media screen and (min-width: 500px){
                    font-size: 20px;
                    width: 300px;
                }
            }
        }

        .enrollBtn {
            height: 100px;
            width: 90%;
            // width: 200px;
            font-family: 'Sacramento', cursive;
            border-radius: 50px;
            // border-radius: 50px;
            background-color: rgb(31, 29, 29);
            color: white;
            font-size: 30px;
            text-shadow: 0 0 2px black;
            box-shadow: 0 0 15px black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 350px;
            transition: .2s;
            cursor: pointer;
            @media screen and (min-width: 500px){
                width: 300px;
                top: 450px;
            }
        }
    }

    .missionStatement {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 180px;
        @media screen and (min-width: 500px){
            margin-top: 200px;
        }

        .text {
            width: 60%;
            font-size: 15px;
            color: rgb(56, 54, 54);
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            @media screen and (min-width: 500px){
                font-size: 18px;
            }
        }
    }

    .instructorsHeading {
        font-size: 40px;
        font-family: "Sacramento", cursive;
        text-align: center;
        background-color: white;
        margin-top: 50px;
        margin-bottom: 50px;
        @media screen and (min-width: 500px){
            font-size: 50px;
        }
    }

    .reviews {
        width: 100%;
        margin-top: 50px;

        .stars {
            height: 50px;
            width: 260px;
            margin: 0 auto;
            background-image: url("../../assets/site-media/fiveStars.png");
            background-size: cover;
        }
        .starsSubHead {
            text-align: center;
            margin-top: 20px;
            font-size: 30px;
            font-family: 'Sacramento', cursive;
        }
        .realReviews {
            margin-top: 50px;
            @media screen and (min-width: 1200px){
                display: flex;
                justify-content: center;
            }
        }
    }

    .recommendSec {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgb(61, 58, 58);
        margin-bottom: 100px;
        margin-top: 50px;

        .storeLogo {
            height: 180px;
            width: 180px;
            border-radius: 90px;
            background-image: url("../../assets/site-media/SummerhaysLogo.jpeg");
            background-size: cover;
            cursor: pointer;
            transition: .2s;
            margin: 0 auto;
        }
        .storeLogo:hover {
            transform: scale(1.05);
            transition: .2s;
        }
        .storeText {
            width: 90%;
            color: white;
            font-size: 20px;
            text-align: center;
            margin-left: 5%;
            margin-top: 20px;
        }
    }
}
.hidden {
    display: none;
}