<div class="siteNoticesContent hidden" id="siteNoticesContent">

  <div class="text">
    Visitors of the site agree to allow Miles Ahead Music to gather analytical 
    information on internet connections visiting the site, via Google Analytics, for the purposes 
    of traffic monitoring, security as well as advertising. Data collected is anonymous and does 
    not link to any kind of personally identifiable information.
    <br><br>
    The Google Analytics advertising features currently used by Miles Ahead Music are as follows: 
    Display and search remarketing - This includes data from Google's signed-in users who 
    have chosen to enable Google to associate their web and app browsing history with their 
    Google account, and to use such information from their Google account to personalize ads. 
    Audience demographics and interests reporting. Campaign manager reporting. Display and Video 
    360 reporting. Google Display Network Impression Reporting.
    <br><br>
    If you would like to opt-out of data collection by Google Analytics, 
    click <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">here</a>.
    <br><br>
    <div class="exitBtn" (click)="exitSiteNotices()">
      X
    </div>
  </div>

</div>